<div class="mb-4 text-center">
  <div class="error-code-header">404</div>
</div>
<div class="card">
  <div class="card-body">
    <div class="text-center">
      <h3 class="mb-3">{{message}}</h3>
    </div>
    <div class="h-150px overflow-auto border p-2">
      <code>{{error.stack}}</code>
    </div>
    <div class="text-center mt-4">
      <a href="javascript:window.history.back();" class="btn btn-primary">{{{__ "Volver"}}}</a>
    </div>
  </div>
</div>
