<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center"
  >

    <a href="/" class="logo d-flex align-items-center me-auto">
      <h1 class="sitename">Influentiafy</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="active">Home</a></li>
      </ul>
    </nav>
  </div>
</header>