<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>influentiafy</title>
  <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
  <link href="/assets/css/style.css" rel="stylesheet" />
  <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
</head>

<body>
  {{{body}}}
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
</body>

</html>