<div class="index-page">
  {{> header/component}}
  <main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section">
      <div class="container">
        <div class="row">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="text-center">
              <p class="mb-1">Influencer price calculator</p>
              <h1>Find your ideal<br />influencer buget</h1>
            </div>
            <div class="card mt-4">
              <form id="form-hero">
                <div class="form-step" form-step="data">
                  <div class="form-group mb-3">
                    <label class="mb-1" for="youtube-username">Youtube username</label>
                    <input type="text" class="form-control" name="youtube-username"
                      placeholder="Enter here the youtube username" required>
                  </div>
                  <div class="form-group mb-3">
                    <label class="mb-1" for="ltv">Average life time value per user ($)</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input type="number" class="form-control" name="ltv"
                        placeholder="Enter here how much you earn per user" required>
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <label class="mb-1" for="affinity">Affinity to your niche</label>
                    <div class="d-flex justify-content-center">
                      <label class="mx-1">Broad</label>
                      <div class="form-check mx-1">
                        <input class="form-check-input" type="radio" name="affinity" id="affinity-0" value="0" checked>
                      </div>
                      <div class="form-check mx-1">
                        <input class="form-check-input" type="radio" name="affinity" id="affinity-1" value="1">
                      </div>
                      <div class="form-check mx-1">
                        <input class="form-check-input" type="radio" name="affinity" id="affinity-2" value="2">
                      </div>
                      <div class="form-check mx-1">
                        <input class="form-check-input" type="radio" name="affinity" id="affinity-3" value="3">
                      </div>
                      <div class="form-check mx-1">
                        <input class="form-check-input" type="radio" name="affinity" id="affinity-4" value="4">
                      </div>
                      <label class="mx-1">Very specific</label>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center pt-2">
                    <button type="submit" class="btn btn-get-started">Submit</button>
                  </div>
                </div>
                <div class="form-step d-none" form-step="loading">
                  <div class="d-flex justify-content-center p-5">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
                <div class="form-step d-none" form-step="success">
                  <div class="d-flex flex-r justify-content-center p-5">
                    <div class="text-center">
                      <h2 id="budget">
                        </h1>
                        <p><small>This number had been calculated using the average views, your life time value and how
                            affine is this youtuber to your product.</small></p>
                        <a href="javascript:restartFormHero()" class="btn-get-started">Do it again</a>
                    </div>
                  </div>
                </div>
                <div class="form-step d-none" form-step="error">
                  <div class="d-flex flex-r justify-content-center p-5">
                    <div class="text-center">
                      <h2>There was an error</h1>
                        <p>Plase try again</p>
                        <a href="javascript:restartFormHero()" class="btn-get-started">Try again</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
</div>
</section><!-- /Hero Section -->


</main>
</div>